<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>list</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="http://192.168.10.10:3030/socket.io/socket.io.js"></script>
</head>
<body>

<div id="user">
    <select name="" id="">
        <option value="">all</option>
        <option v-for="user in lists">${user.cId}</option>
    </select>

</div>
<!--

<table>
    <thead>
    <tr>
        <th>no</th>
        <th>contents</th>
        <th>name</th>
        <th>id</th>
        <th>edit</th>
    </tr>
    </thead>
    <tbody>
    {% for con in data %}
    <tr align="center">
        <td>{{con.id}}</td>
        <td>{{con.contents}}</td>
        <td>{{con.user_name}}</td>
        <td>{{con.user_id}}</td>
        <td><button onclick="viewDetail('/board/view/{{con.id}}')">view</button></td>
        <td><button onclick="delRow('/board/del/{{con.id}}')">delete</button></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
-->
<div>
    <textarea name="chatArea" id="chatArea" cols="50" rows="20" style="resize: none; display: block;" readonly ></textarea>
    <input type="text" id="msg" />
    <input type="button" id="send" value="send"/>
</div>
<div style="margin-top: 10px;">
    <input type="text" id="userid">
    <input type="button" id="set_id" value="send"/>
</div>
<div id="tb1">
    <table>
        <thead>
        <tr>
            <th>no</th>
            <th>contents</th>
            <th>name</th>
            <th>id</th>
            <th>edit</th>
        </tr>
        </thead>
        <tbody >
        <tr v-for="list in lists">
            <td>${list.id}</td>
            <td>${list.contents} ${ getaMessage } </td>
            <td>${list.user_name}</td>
            <td>${list.user_id}</td>
            <td><button v-on:click="redirection('/board/view/',list.id)">view</button></td>
            <td><button v-on:click="redirection('/board/del/',list.id)">delete</button></td>
        </tr>
        </tbody>
    </table>
</div>
<script type="text/javascript">
    var app = new Vue({
        el : "#tb1",
        delimiters: ['${', '}'],
        computed :  {
            getaMessage : function() {
                console.log(this)
                //return this;
            }
        },
        data : {
            lists : {{data|raw }}
        },
        methods : {
            redirection: function(url,no){

                location.href = url+no;
            },
            delRow : function(url){
                //location.href = url;
            },
        },
    });

    $(function () {
        var socket;


        $("#send").click(function(){
            socket.emit('send message', {"msg":$("#msg").val(),"user":$("#userid").val(),"to_user":"testa"})
        });

        $("#set_id").click(function(){
            console.log("connect socket server");
            socket = io("http://192.168.10.10:3030",{forceNew: false, query:{"nick_name": $("#userid").val(),"realid": "{{ uid }}",sId: "sess"},transports:['websocket','polling']});

            socket.on('connection',function(obj){
                console.log(obj);
            });

            //socket.emit('send message', {"msg":"test"});
            socket.on('change name', function(name){ //3-3
                console.log(name)
            });

            socket.on('receive message', function(msg){ //3-3
                $("#chatArea").append(msg);
                var $textarea = $('#chatArea');
                $textarea.scrollTop($textarea[0].scrollHeight);

            });

            socket.on("send whis",function(){

            })
            socket.emit("send whis",function(){

            })
            socket.on('get user', function(users){ //3-3
                setUserFromServer(users)
            });

            $("#connect").click(function(){

            });
        });


    })

    function setUserFromServer(users) {
        console.log(users)
        var app2 = new Vue({
            el : "#user",
            delimiters: ['${', '}'],
            computed :  {
                getaMessage : function() {
                    console.log(this)
                    //return this;
                }
            },
            data : {
                lists : users
            },
        methods : {

        },
    });
    }

</script>
</body>
</html>